html
    head
        meta(charset="UTF-8")
        title Thankful

    body
        div(style="width: 300px")
            h1 Test

            hr

            p
            | Here's some text

            hr

            a(href="/dashboard/index.html", target="_blank") Open dashboard
