.DS_Store
node_modules
coverage
**/*.swp
.vscode/
.*cache

# Build artifacts
addon/**/*.js
addon/**/*.html
dist/**/*.js
dist/**/*.css
dist/**/*.woff
dist/**/*.ttf
dist/**/*.eot
dist/**/*.html
dist/**/*.map
dist_ext/**/*.json
thankful.zip
thankful-src.zip
stats.json

# .env secrets
.env-webstore

# a folder @ErikBjare uses to store related non-versioned files
other

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
