node_modules/
.DS_Store
coverage
**/*.swp
.vscode/
.*cache

# Build artefacts
addon/**/*.js
addon/**/*.html
dist/**/*.js
dist/**/*.css
dist/**/*.woff
dist/**/*.ttf
dist/**/*.eot
dist/**/*.html
dist/**/*.json
dist/**/*.map
thankful.zip
thankful-src.zip
stats.json

# .env secrets
.env-webstore

# a folder @ErikBjare uses to store related non-versioned files
other
