#mc_embed_signup {
  display: inline-block; }
  #mc_embed_signup h5 {
    margin: 0;
    margin-bottom: 0; }

.form-control {
  border-radius: 0;
  margin: 0.3em;
  width: 75%;
  display: inline; }

.btn {
  border-radius: 0; }
