html
    head
        link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons', rel='stylesheet')
        meta(charset="UTF-8")
        title Thankful Dashboard

    body
        div#dashboard
        script(src="./index.js")
