html
    head
        title Test lol

    body
        div(style="width: 300px")
            h1 Test

            hr

            p
            | Here's some text
            | Here's some text

            a(href="/dashboard/index.html", target="_blank") Lololol
